<h1 class="text-center">Datos Cliente</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">EMAIL</th>
      <th scope="col">Acciones</th>
    
    </tr>
  </thead>
  <tbody>

    {{#each cliente}}
    <tr class="bg-light">
      <td>{{DNI}}</td>
      <td><a href="/cliente/{{DNI}}">{{Nombre}}</a> </td>
      <td>{{Apellido}}</td>
      <td>{{Email}}</td>
      <td><a class="btn btn-primary btn-sm" href="/cliente/{{DNI}}" name = "operacion" value ="Editar " role="button">Editar</a>
      <a class="btn btn-danger btn-sm" href="/cliente/{{DNI}}" name ="operacion" value ="Borrar" role="button">Borrar</a></td>
    </tr>
    {{/each}}

  </tbody>
</table>