<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>

<body>
    <h1>Detalle cuenta cliente</h1>

    
    <form action="" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="Nombre" id="nombre" value="{{cliente.Nombre}}">
        <br>

        <label for="Apellido">Apellido</label>
        <input type="text" name="Apellido" value="{{cliente.Apellido}}">
        <br>

        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" value="{{cliente.Email}}">
        <br>

        <label for="dni">Dni</Label>
        <input type="text" name="DNI" id="dni" value="{{cliente.DNI}}">
        <br>

        <label for="Direccion">Dirección</label>
        <input type="text" name="Direccion" value="{{cliente.Direccion}}">
        <br>

        <label for="Localidad">Localidad</label>
        <input type="text" name="Localidad" value="{{cliente.Localidad}}">
        <br>

        <label for="Provincia">Provincia</label>
        <input type="text" name="Provincia" value="{{cliente.Provincia}}">
        <br>



        <label for="CP">CP</label>
        <input type="text" name="CP" value="{{cliente.CP}}">
        <br>

        <label for="Telefono">Telefono</label>
        <input type="text" name="Telefono" value="{{cliente.Telefono}}">
        <br>



        <label for="password">Contraseña</label id="password">
        <input type="password" name="Password" id="password" value="{{cliente.Password}}">
        <br>

        <label for="repassword">Confirmar contraseña</label id="repassword">
        <input type="password" name="Repassword" id="repassword" value="{{cliente.Repassword}}">
        <br>

        
        <input type="submit" value="Actualizar" id="submit" >

        <!-- El atributo "name" permite utilizar dos botones con acciones distintas
        en un mismo formulario -->
        
        <input type="submit" name="operacion" value="Borrar" id="submit">
        
    </form>
    {{#if error}}
    <p>{{error}}</p>
    {{/if}}

</body>

</html>