<h1 class="text-center">Listado de Empleados</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">EMAIL</th>
      <th scope="col">Activo</th>
      <th scope="col">tipo</th>
      <th scope="col">Acción</th>

    </tr>
  </thead>
  <tbody>

    {{#each empleado}}
    <tr class="bg-light">
      <td>{{DNI}}</td>
      <td><a href="/empleado/{{DNI}}">{{Nombre}}</a> </td>
      <td>{{Apellido}}</td>
       <td>{{Email}}</td>
      <td>{{Activo}}</td>
      <td>{{Tipo}}</td>
      <td><a class="btn btn-primary btn-sm" href="/empleado/{{DNI}}" name = "operacion" value ="Editar " role="button">Editar</a>
      <a class="btn btn-danger btn-sm" href="/empleado/{{DNI}}" name ="operacion" value ="Borrar" role="button">Borrar</a></td>
    </tr>
    {{/each}}

  </tbody>
</table>